img{
    text-decoration: none;
    height: 162px;
    width: 200px;
}
.container{
    position: absolute;
    padding-left: 20px;
    padding-right: 10px;
   
    
    

 
}

.jumbotron{
    padding: 20px;
    display: flex;

} 
.btn{
    color: rgb(240, 228, 228);
    margin-left: 7%;
    border-radius: 50%;
    background-color: rgb(172, 13, 13);
    
}
.box{
    padding-left: 540px;
    margin-top: 13%;
    
    
}
.text{
    margin-right: 30%;
}
